.venv
__pycache__/
.bash_history
.bash_logout
.bashrc
.cache/
.claude/
.config/
.copilot/
.dotnet/
.gitconfig
.lesshst
.local/
.nv/
.profile
.ssh/
.sudo_as_admin_successful
.vscode-server/
.wget-hsts
.zed_server/
.zshrc
Desktop/
snap/
